body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: palevioletred;
}

#choice-selected img {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    border: 1px solid rgb(60, 60, 60);
}

#choices {
    width: 240px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 80px;
    height: 80px;
}